<div class="nicico-ticketing" [class.expanded]="expandBtn" *ngIf="show" (mouseleave)="collapseBtn()">
  <div class="nicico-ticketing-btn-wrapper ticket-btn" *ngIf="!expandBtn"
       (mouseover)="expandBtn=true">
    <button mat-icon-button class="nicico-ticketing-btn">
      <mat-icon class="nicico-icon" svgIcon="ticket"></mat-icon>
    </button>
  </div>
  <div class="nicico-ticketing-btn-wrapper" [ngClass]="'btn-'+btnIndexes[0]" *ngIf="expandBtn">
    <button mat-icon-button class="nicico-ticketing-btn" (click)="changeIndex(1);">
      <mat-icon class="nicico-icon" svgIcon="add-ticket"></mat-icon>
    </button>
  </div>
  <div class="nicico-ticketing-btn-wrapper" [ngClass]="'btn-'+btnIndexes[1]">
    <button mat-icon-button class="nicico-ticketing-btn" (click)="changeIndex(2);">
      <mat-icon class="nicico-icon" svgIcon="folder"></mat-icon>
    </button>
  </div>
  <div class="nicico-ticketing-btn-wrapper" [ngClass]="'btn-'+btnIndexes[2]">
    <button mat-icon-button class="nicico-ticketing-btn" (click)="changeIndex(3);menu.openMenu()">
      <mat-icon class="nicico-icon" svgIcon="chat"></mat-icon>
    </button>
  </div>
  <nicico-dynamic-menu [title]="title" #menu (onMenuClosed)="collapseBtn()"></nicico-dynamic-menu>
</div>
