@import "src/assets/scss/variables";

.nicico-ticketing {
  position: relative;
  width: 105px;
  height: 100px;
  @mixin nicico-btn {
    transition: .2s;
    &:active {
      transform: translate(.03rem, .03rem);
      transition: .2s;
    }
  }

  .nicico-ticketing-btn-wrapper {
    z-index: 1001;
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: linear-gradient(-45deg, #FF9313, lighten(#FFB45B, 5));
    box-shadow: 3px 6px 10px rgba(0, 0, 0, .2);
    display: flex;
    justify-content: center;
    align-items: center;

    &:not(:first-child) {
      .nicico-icon {
        width: 17px !important;
        height: 17px !important;
      }

      &.btn-1 {
        .nicico-icon {
          width: 22px !important;
          height: 22px !important;
        }
      }
    }

    &.btn-1, &.ticket-btn {
      @include nicico-btn;
      width: 54px;
      height: 54px;
      left: 0;
      top: 0;
      z-index: 1002;

      .nicico-ticketing-btn {
        background: linear-gradient(135deg, #FF9313 15%, #FFB45B 65%);
        width: 48px;
        height: 48px;
        color: white;

        .nicico-icon {
          width: 30px;
          height: 30px;
        }
      }
    }

    &.btn-2 {
      @include nicico-btn;
      left: 5px;
      top: 0;
      transition-delay: .1s;
    }

    &.btn-3 {
      @include nicico-btn;
      left: 5px;
      top: 0;
    }

    .nicico-ticketing-btn {
      border-radius: 100%;
      width: 36px;
      height: 36px;
      line-height: 32px;
      cursor: pointer;
      color: $primary;
      display: block;
      background: white;

      .nicico-icon {
        width: 20px;
        height: 20px;
      }
    }
  }

  &.expanded {
    .nicico-ticketing-btn-wrapper {
      transition: .2s;

      .nicico-icon {
        width: 17px !important;
        height: 17px !important;
      }

      &.btn-1 {
        .nicico-icon {
          width: 22px !important;
          height: 22px !important;
        }
      }

      &.btn-2 {
        @include nicico-btn;
        left: 60px !important;
        top: 15px !important;
      }

      &.btn-3 {
        @include nicico-btn;
        left: 35px !important;
        top: 53px !important;
        transition-delay: .1s;
      }
    }
  }
}
