$baseGap: 1rem;
$baseFontFamily: "YekanWeb";
$boldFontFamily: YekanBold;
$animationDuration: .2s;
$primary: #FE9D2A;
$primary-border-radius: 15px;
$primary-border-bottom: 1px solid rgba(112, 112, 112, .31);

@mixin primary-shadow() {
  box-shadow: 0 5px 5px rgba(140, 140, 140, .2);
}

@mixin primary-shadow-2() {
  box-shadow: 2px 10px 12px rgba(0, 0, 0, .1);

}
