:host {

  .nicico-text-box {
    width: 100%;
    height: 48px;
  }

  ::ng-deep {
    .mat-input-element {
      margin-top: -0.625em !important;
      margin-bottom: .5rem;
    }

    .mat-form-field-flex > .mat-form-field-infix {
      padding: 0.4em 0 !important;
      line-height: 1.5em;
    }

    .mat-form-field-label-wrapper {
      line-height: 1.5em;
      top: -1.6em;
    }

    .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float {
      .mat-input-element + .mat-form-field-label-wrapper {
        .mat-form-field-label {
          margin-top: -.42rem !important;
          transform: translateY(-1em) scale(.75);
          width: 133.33333%;
        }
      }
    }

    .mat-form-field-outline {
      height: 38px;
    }
  }

}
