<mat-form-field appearance="outline" class="nicico-text-editor">

  <mat-label>{{field?.templateOptions?.label!|translate}}</mat-label>

  <textarea rows="4" class="nicico-text-editor-text-area"
            matInput
            #textEditor
            [placeholder]="field?.templateOptions?.placeholder!|translate"
            [matTextareaAutosize]="false"
            [style.textAlign]="textEditorState.textAlign"
            [style.direction]="textEditorState.textAlign == 'left' ? 'ltr' : 'rtl'"
            [style.font-size.px]="textEditorState.fontSize"
            [style.color]="textEditorState.color"
            [class.bold]="textEditorState.bold"
            [class.italic]="textEditorState.italic"
            [class.underline]="textEditorState.underline"></textarea>

  <div class="nicico-text-editor-tool-box">
    <div class="tool-box-section">
      <mat-icon class="tool-box-icon" svgIcon="align-left"
                [class.active]="textEditorState.textAlign == 'left'"
                (click)="formatText(0)"></mat-icon>
      <mat-icon class="tool-box-icon" svgIcon="align-right"
                [class.active]="textEditorState.textAlign == 'right'"
                (click)="formatText(1)"></mat-icon>
    </div>

    <div class="tool-box-section">
      <mat-icon class="tool-box-icon" svgIcon="format-list-numbered"
                [class.active]="textEditorState.listType == 'numbered'"
                (click)="formatText(2)"></mat-icon>
      <mat-icon class="tool-box-icon" svgIcon="format-list-bulleted"
                [class.active]="textEditorState.listType == 'bulleted'"
                (click)="formatText(3)"></mat-icon>
    </div>

    <div class="tool-box-section">
      <mat-icon class="tool-box-icon" svgIcon="format-bold"
                [class.active]="textEditorState.bold"
                (click)="formatText(4)"></mat-icon>
      <mat-icon class="tool-box-icon" svgIcon="format-italic"
                [class.active]="textEditorState.italic"
                (click)="formatText(5)"></mat-icon>
      <mat-icon class="tool-box-icon" svgIcon="format-underlined"
                [class.active]="textEditorState.underline"
                (click)="formatText(6)"></mat-icon>
    </div>

    <div class="tool-box-section">
      <input type="color" class="hidden-field"
             #colorPicker
             [value]="textEditorState.color"
             (change)="textEditorState.color = colorPicker.value">
      <mat-icon class="tool-box-icon" svgIcon="format-color-text"
                (click)="formatText(7)"
                [style.color]="textEditorState.color"></mat-icon>

      <mat-icon class="tool-box-icon" svgIcon="format-size"
                (click)="showPopup=!showPopup">
      </mat-icon>
      <div class="fontsize-popup"
           (mouseleave)="showPopup=false">
        <div class="fontsize-popup-commands"
             [class.show]="showPopup">
          <div (click)="decreaseSize()"> -</div>
          |
          <div (click)="increaseSize()"> +</div>
        </div>
      </div>

    </div>

    <div class="tool-box-section">
      <mat-icon class="tool-box-icon" svgIcon="attachment"
                (click)="filePicker.click()"></mat-icon>
      <input type="file" class="hidden-field"
             #filePicker
             (change)="filePickerChanged(filePicker?.files)">
    </div>
  </div>
  <div class="file-box">
    <nicico-files-upload [files]="files"></nicico-files-upload>
  </div>

</mat-form-field>
