:host {
  .nicico-select {
    height: 42px;
    line-height: 42px;
    border-color: #BFBFBF !important;
    border-radius: 5px;
    border-width: 1px;
    width: 100%;

    ::ng-deep {

      .mat-form-field {
        width: 100%;
        height: 42px !important;
      }

      .mat-form-field-flex {
        height: 42px !important;
        padding-top: 0 !important;
      }

      .mat-form-field-infix {
        padding-top: 0 !important;
        border-top: 0 !important;
      }

      .mat-select-arrow-wrapper {
        transform: none !important;
      }

      .mat-form-field-label-wrapper {
        line-height: 42px;
        height: 28px !important;
        top: 0;

        .mat-form-field-label {
          top: 5px;
        }
      }
    }
  }
}

::ng-deep {
  .mat-select-panel {
    margin-top: 44px;
    width: 483px !important;
    min-width: 200px !important;
    max-width: 100% !important;
  }

  .mat-form-field-appearance-outline.mat-form-field-can-float.mat-form-field-should-float {
    .mat-select + .mat-form-field-label-wrapper {
      .mat-form-field-label {
        transform: translateY(-12px) scale(0.75);
      }
    }
  }

  .mat-form-field-appearance-outline.mat-form-field-can-float .mat-input-server:focus.mat-select
  + .mat-form-field-label-wrapper .mat-form-field-label {
    transform: translateY(-12px) scale(0.75);
  }
}
